@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

@keyframes gradiant {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body{
    background: linear-gradient(135deg, 
    #00B7D4, #505488, #2F3F80,#5A4894,#A950A1, #DD7CAE);
    animation: gradiant 10s ease infinite;
    background-size: 500% 500%;
    height: 100vh;
    color: #fff;
}
